# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3001
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
JWT_SECRET=<jwt_secret>
JWT_EXPIRES_IN=<jwt_expires_in>
CLOUDINARY_NAME=<cloudinary_name>
CLOUDINARY_API_KEY=<cloudinary_api_key>
CLOUDINARY_API_SECRET=<cloudinary_api_secret>
USERNAME_SMTP_GMAIL='questifyst.official@gmail.com'
PASSWORD_SMTP_GMAIL='cirx uuaj aexo islr'
NEXT_PUBLIC_BASE_URL=http://localhost:3000